.card {
    padding: 50px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cityDisplay, .tempDisplay {
    margin-bottom: 25px;
    font-size: 3.5rem;
    font-weight: bold;
  }
  
  .humidityDisplay {
    font-weight: bold;
    font-size: 25px;
  }
  
  .descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .weatherEmoji {
    font-size: 7.5rem;
  }
  
  .errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: WHITE;
  }