* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 25px;
  color: WHITE;
}

p {
  margin: 5px 0;
  font-size: 1rem;
  color: WHITE;
}

input, button {
  vertical-align: middle;
}

button[type="submit"] {
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: hsl(122, 39%, 50%);
  color: WHITE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: hsl(122, 39%, 40%);
  transform: scale(1.1);
  transition: 0.2s;
}
